.buy-ticket-container {
    display: flex;

    justify-content: space-between;
}

h1 {
    font-size: 50px;
    font-weight: 890;
}

.event-name img {
    width: 560px;
    height: 300px;
}
.event-name p{
    width: 600px;
    text-align: justify;
}

.event-positions {
    background-color: aliceblue;
    padding: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    line-height: 2;
}

.event-positions input {
    width: 80px;
}

.event-positions input,
button {
    padding: 10px;
}
.event-positions a button{
    margin-top: 10px;
    border-radius: 5px;
    border-color: black;
}

.event-positions button {
    background-color: black;
    color: white;
    border: none;
}

.extra-info ul li {
    list-style: none;
}

.sponsor-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.sponsor-cards {
    background-color: aliceblue;
    padding: 12px;
}

.sponsor-section-container img {
    width: 202px;
}