.hero-section{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    align-items: center;
    /* gap: 500px; */
}
.hero-section img{
    height: 300px;
    width: 500px;
}
.aside-for-hero{
    line-height: 1.5;
}
.aside-for-hero a button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
/* EVENT-CARDS OPEN*/
.event-cards{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    padding: 12px;
}
.event-cards-container{
    display: flex;
    justify-content: space-between;
}
.event-cards img{
    width: 400px;
    height: 200px;
}
.event-card-document{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}
.event-cards button {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* EVENT-CARDS CLOSE*/


/* UPCOMING EVENTS START */
.upcoming-events-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 12px;
}
.upcoming-events-card button{
    padding: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
.profile-img img {
    width: 70px;
    height: 70px;  
    border-radius: 50%;  
    object-fit: cover;  
}
.profile-img{
    display: flex;
    align-items: center;
    gap: 30px;
}
/* UPCOMING EVENTS END */

